* {
    margin: 0;
    padding: 0;
 
    font-family: 'Poppins', Adobe Heiti Std R;
}
 
body {
    background: rgb(31, 34, 60);
}
 
 
.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15%;
    background: rgb(1, 6, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
}
 
.logo{
    position: fixed;
    height: auto;
    left: 0px;
    width: 100px;
}
 
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
   
}
.navbar a:hover,
.navbar a.active{
    color: #1F7ADB;
}



.footer{
    background-color: rgb(6, 6, 90);
    padding: 75px 0;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1175px;
    margin: auto;
}

ul{
    list-style: none;
}


.footer{
    background-color: rgb(6, 6, 90);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 17px;
}

.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 36px;
    font-weight: 520;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff0000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.2s ease;
}

.footer-col ul li a:hover{
    color: rgb(255, 0, 0);
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(40, 15, 231);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.6s ease;
}

.footer-col .social-links a:hover{
    color: black;
    background-color: white;
}

#facebook {
    top: 10px;
    position: relative;
}
#twitter {
    top: 10px;
    position: relative;
}



.copyright{
    color: white;
    background-color: rgb(6, 6, 90);
    text-align: center;
}
.text {
    color: white;
}
#khantmindiv {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: blue;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: left;
    margin-left: 10px;
    display: inline-block;

}
.title {
    margin-bottom: 25px;
}
.margintopandbot {
    margin-top: 10px;
    margin-bottom: 10px;
}
.marginbot {
    margin-bottom: 10px;
}
.link:hover{
    color: lightblue;
    transition: 0.5s;
}
.link {
    color: cyan;
}
#boxtext {
    margin-left: 5px;
}
#shinediv{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: blue;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    margin-left: 10px;
    display: inline-block;

}
#hnindiv{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: blue;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    margin: right;
    margin-left: 10px;
    display: inline-block;

}
#header {
    margin-top: 65px;
}
#img{
    width: 140px;
    height: 160px;
}



